@import url("https://fonts.cdnfonts.com/css/inter");

* {
  font-family: Inter, Montserrat;
}

body {
  color: #fff;
  background-color: #0c0c0c;
  margin: 0;
}

h1,
h2,
p {
  margin: 12px 0 10px 0;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
p {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

button {
  cursor: pointer;
  border-radius: 4px;
  padding: 12px;
  border: none;
  background-color: #f0f0f0;
  font-size: 16px;
  margin: 4px;
  font-weight: bold;
}

li {
  list-style: none;
  display: inline-block;
}

input {
  border: none;
  border-radius: 0;
  min-height: 32px;
  padding: 10px 4px 4px 4px;
  outline: none;
  background-color: transparent;
  border-bottom: 2px #fff solid;
  color: #fff;
}

input::placeholder {
  color: #d0d0d0;
}

.nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: #101010;
  border-bottom: 1px #202020 solid;
}

.nav-title {
  font-size: 32px;
  text-transform: uppercase;
}

.nav-links > li {
  padding: 0 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  cursor: pointer;
}

.form {
  background-color: #1c1c1c;
  margin: 200px auto;
  width: 350px;
  border-radius: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  justify-items: stretch;
}

.form-inputs {
  display: grid;
  padding: 10px 0 28px 0;
  row-gap: 24px;
}

@media screen and (max-width: 1000px) {
  .nav-links {
    display: none;
  }
  .form {
    margin: 20px auto;
    width: 300px;
  }
}
